* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f5f5f5;
}

.menu {
    overflow-x: hidden;
    position: relative;
    left: 0px;
    
}

.menu-open {
    left: 32%;
}

.menu-open .menu-side {
    left: 0;
}



.menu-side {
    position: fixed;
    top: 0;
    left: -35%;
    width: 35%;
    height: 100vh;
    background-color: white;
    z-index: 10000;
    color: #414042;
    font-weight: 200;
    font-size: 0.85em;
}

.menu, .menu-side {
    -moz-transition:left 0.6s ease-in-out;
    -webkit-transition:left 0.6s ease-in-out;
    transition: left 0.6s ease-in-out;
}

.menu-side p {
  
    padding-left: 30%;
    padding-top: 35px;
}

.menu-side p:hover {
    color:#0d0d0d; 
}

#slide-wrapp {
    margin-top: 30px;
}

#slide-wrapp img:nth-child(2) {
    float: right;
    display: inline-block;
}

#slide-wrapp img:nth-child(1) {
    padding-left: 18px;
}

p span {
    font-size: 1em;
    font-weight: 900;
}

/*sidebar start*/
#sidebar-nav {
    float: left;
    width: 15%;
    height: 100vh;
    background-color: white;
    display: inline;
    font-size: 0.85em;
    font-weight: 800;
/*    min-width: 190px;*/
    position: fixed;
    color: #414042;
}

sidebar img {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 150px;
}

nav {
    clear:right;
    float: right;
    /*background-color: aquamarine;*/
    text-align: right;
    margin-right: 30px;
}

nav p:first-child {
    /*background-color: lightcoral;*/
    margin-bottom: 60px;
    cursor: pointer;
}

nav ul {
    /*background-color: blueviolet;*/
    margin-bottom: 150px;
    list-style: none;
}

nav ul li {
    text-decoration: none;
    margin-bottom: 5px;
    /*background-color: chartreuse;*/
}

nav ul li a {
    text-decoration: none;
    color: #414042;
    cursor: pointer;
}

nav ul li a:hover {
    
    color: #0d0d0d;
    
    
}
#wrapp {
    margin-top: 30px;
    width: 85%;
    float: right;
}

.wrapp-container {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 95%;
    margin-left: 2%;    
}


.wrapp-container p{
    text-align: center;    
    font-size: 0.75em;
    font-weight: 100;
    width: 50%;
    margin: 5% auto;
    color: #414042;
    
}
.wrapp-container img:nth-child(2) {
    display: block;
    width: 25%;
    margin: 45px auto;
}

.wrapp-container img:nth-child(4) {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.wrapp-container h1 {
    text-align: center;
    padding-top: 15px;
}

.wrapp-container a {
    text-decoration: none;
    color: #414042;
}


/*medis queris start*/

@media screen and (max-width:900px) {
    
    .tile {
    width: 48%;
    float: left;
    display: inline-block;
    margin-left: 2%;
}
    
     #slide-wrapp img:nth-child(2) {
    width: 50%;
    margin-right: 20px;
}
    
         #slide-wrapp img:nth-child(1) {
    width: 15%;
    
}
    
}

@media screen and (max-width:420px) {
    #wrapp {
        
    clear: both;
    margin-top: 10px;
    width: 100%;
    float: left;
        
}
    
        .tile {
    width: 100%;
        
    float: left;
    display: inline;
    margin=0;
}
    
    #sidebar-nav{
    float: left;
    width: 100%;
    height: 250px;
    background-color: white;
    display:block;
    font-size: 0.85em;
    font-weight: 800;
    position: relative;
    color: #414042;
    margin: 0 auto;
    }
    
    #sidebar-nav ul {
        margin-bottom: 15px;
        clear: both;
    }
    
    #sidebar-nav ul li {
    display: inline-block;
        width: 30%;
        text-align: center;
         
    }
    
    
     #sidebar-nav ul li a {
    display: inline-block;
         border-bottom: 1px solid #414042;
         
         
    }
    
    nav p:first-child {
    /*background-color: lightcoral;*/
        float: right;
    margin-bottom: 10px;
    width: 30%;
    text-align: center;
        color: cornflowerblue;
}


    sidebar img {
        float: none;
    display: inline-block;
   margin-left: 10%;
        margin-bottom: 1%;
        display: inline-block;
}
  /*  
    .menu-side {
        display: none;
    }
    */
    #wrapp {
        width: 100%;
    }
    
    .menu-open {
    left: 5%;
}
    
    .menu-side {
    position: fixed;
    top: 0;
    left: -65%;
    width: 65%;
    height: 100%;
    background-color: white;
    z-index: 10000;
    color: #414042;
    font-weight: 200;
    font-size: 0.85em;
}
}


